body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #3C3B3F, #605C3C);
  background-attachment: fixed;
}

body a {
  color: black;
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  padding-top: 25px;
  padding-bottom: 25px;
}

.row{
  height: 90vh;
}

.sidebar{
  background-image: url("./assets/arsenalBg.png");
  border-radius: 5px;
  padding: 15px 15px;
  box-shadow:  0 0 10px black;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 15px;
}

.icon{
  height: 40px;
  width: 40px;
  margin: .5em;
  border-radius: 10px;
  box-shadow:  0 0 10px black;
  border: solid;
  border-radius: 5px;
}

.sidebarName {
  margin: 5px 0;
}

.sidebarEmail{
  border: solid;
  border-radius: 5px;
  text-align: center;
}

.sidebarEmail:hover {
  cursor: pointer;
}

.main {
  background-image: url("./assets/arsenalBg.png");
  border-radius: 5px;
  padding: 15px 15px;
  box-shadow:  0 0 20px black;
  margin-bottom: 15px;
  height: fit-content;
}

.navbar {
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.navbarActive {
  font-size: 1.5em;
}

.about {
  background-color: black;
  border-radius: 5px;
  padding: 15px 15px;
  box-shadow:  0 0 20px black;
}

.resume {
  background-color: black;
  border-radius: 5px;
  padding: 15px 15px;
  box-shadow:  0 0 20px black;
  height: fit-content;
  overflow: hidden;
}
#frame {
  width: 100%;
  min-height: 550px;
  border-radius: 5px;
}

.projects {
  height: 72vh;
  padding-top: 30px;
  overflow-y: auto;
}

.projectCardImage {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.projectCardIcon{
  height: 40px;
  width: 40px;
  margin: .5em;
  border-radius: 10px;
  box-shadow:  0 0 10px black;
  border: solid;
  border-radius: 5px;
}
